*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

/* calculate section*/
.calculate_box {
    background: #E3F9E7;
    border-radius: 46px;
    height: 100%;
    padding: 71px 117px;
}

.booking_box {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(60, 189, 150, 0.22);
    border-radius: 37px;
    padding: 71px 71px;
}

.date_box {
    background: #3CBD96;
    border-radius: 3px;
    padding: 13px 16px;
}

.input_bg {
    border: none;
    outline: none;
}

.calculate_hr {
    border: 1px solid rgba(119, 126, 144, 0.3);
}

.calculate_hr1 {
    border-bottom: 1px solid rgba(119, 126, 144, 0.3);
}

.man_img {
    bottom: -79px;
    left: 70px;
}

.map_img {
    top: 50px;
    right: -300px;
    max-width: 1100px;
    z-index: -2;

}

.lorem_wdth {
    max-width: 899px;

}


.What_box_1 {
    height: 149px;
    width: 465px;
    background: linear-gradient(90deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
    border-radius: 15px;
    padding: 20px;
    transition: all 0.6s linear;
}

.What_box_1:hover {
    background: linear-gradient(270deg, #E3F9E7 0%, rgba(227, 249, 231, 0) 100%);
    border-radius: 0;
    transition: all 0.6s linear;
}

.What_box_big {
    height: 497px;
    width: 899px;
    background: #E3F9E7;
    border-radius: 0px 21px 21px 21px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    padding: 59px 100px;
}

.What_box_1:hover~.What_box_big {
    opacity: 1;
}

.quick_link::after {
    position: absolute;
    content: '';
    border: 2px dashed rgba(119, 126, 144, 0.4);
    height: 175px;
    left: 0px;
    top: 32px;
}

.quick_link::before {
    position: absolute;
    content: '';
    border: 2px dashed rgba(119, 126, 144, 0.4);
    height: 175px;
    right: 0px;
    top: 32px;
}

.quick_border::after {
    position: absolute;
    content: '';
    border: 2px dashed rgba(119, 126, 144, 0.4);
    height: 175px;
    right: -10px;
    top: 32px;
}

.input_txt {
    border: none;
    border-bottom: 2px solid rgba(119, 126, 144, 0.3);
}

.footer_border {
    border: 3px dashed rgba(119, 126, 144, 0.5);
}

@media (max-width:1400px) {
    .map_img {
        opacity: 0.5;
    }
}

@media (max-width:1200px) {
    .calculate_box {
        padding: 50px 70px;
    }

    .quick_link::after {
        border: none;
    }

    .quick_link::before {
        border: none;
    }

    .quick_border::after {
        border: none;
    }
}

@media (max-width:992px) {
    .booking_box {
        padding: 42px 25px;
    }
}

@media (max-width:576px) {
    .booking_box {
        padding: 15px 10px;
    }

    .calculate_box {
        padding: 20px 15px;
    }
}