@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@700&family=Poppins:wght@400;500;600&family=Red+Hat+Text:wght@400;500;600&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.z_index_-1 {
    z-index: -1;
}

.z_index_2 {
    z-index: 2;
}

/* font-family */
.ff_Poppins {
    font-family: 'Poppins', sans-serif;
}

.ff_Anybody {
    font-family: 'Anybody', cursive;
}

.ff_Red_Hat {
    font-family: 'Red Hat Text', sans-serif;
}

/* root */
:root {
    /* font_size */
    --fs-6xl: 90px;
    --fs-5xl: 80px;
    --fs-4xl: 48px;
    --fs-3xl: 45px;
    --fs-2xl: 30px;
    --fs-xl: 25px;
    --fs-lg: 22px;
    --fs-md: 20px;
    --fs-sm: 18px;
    --fs-ss: 16px;


    /* color */
    --color-black: #000000;
    --color-lightblack: #23262F;
    --color-white: #FFFFFF;
    --color-grey: #5A5F6A;
    --color-grey90: #777E90;
    --color-darkgreen: #204945;
    --color-lightgreen: #3CBD96;
    --color-lightgreen2: #E2F5EF;
    --color-lightgreen3: #E3F9E7;
    --color-lightgreen4: #C1EADD;
}

/* color */
.black {
    color: var(--color-black) !important;
}

.lightblack {
    color: var(--color-lightblack) !important;
}

.white {
    color: var(--color-white) !important;
}

.grey {
    color: var(--color-grey) !important;
}

.grey90 {
    color: var(--color-grey90) !important;
}

.darkgreen {
    color: var(--color-darkgreen) !important;
}

.lightgreen {
    color: var(--color-lightgreen) !important;
}

.lightgreen2 {
    color: var(--color-lightgreen2) !important;
}

.lightgreen3 {
    color: var(--color-lightgreen3) !important;
}

.lightgreen4 {
    color: var(--color-lightgreen4) !important;
}

/* Bg-color */
.bg_white {
    background: var(--color-white);
}

.bg_lightgreen {
    background: var(--color-lightgreen);
}

.bg_lightgreen3 {
    background: var(--color-lightgreen3);
}

.bg_lightgreen2 {
    background: var(--color-lightgreen2);
}

/* font_size */

.fs_6xl {
    font-size: var(--fs-6xl);
}

.fs_5xl {
    font-size: var(--fs-5xl);
}

.fs_4xl {
    font-size: var(--fs-4xl);
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.fs_2xl {
    font-size: var(--fs-2xl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_ss {
    font-size: var(--fs-ss);
}


/* font-weight */
.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

@media (min-width:1440px) {
    .container {
        max-width: 1612px !important;
    }
}

@media (max-width:1600px) {

    /* root */
    :root {
        /* font_size */
        --fs-6xl: 70px;
        --fs-5xl: 60px;
        --fs-4xl: 45px;
        --fs-3xl: 40px;
        --fs-2xl: 29px;
    }
}

@media (max-width:1440px) {

    /* root */
    :root {
        /* font_size */
        --fs-6xl: 60px;
        --fs-5xl: 50px;
        --fs-4xl: 45px;
        --fs-3xl: 40px;
        --fs-2xl: 29px;
    }
}

@media (max-width:992px) {

    :root {
        /* font_size */
        --fs-6xl: 55px;
        --fs-5xl: 50px;
        --fs-4xl: 42px;
        --fs-3xl: 38px;
        --fs-2xl: 28px;
        --fs-xl: 23px;
    }
}

@media (max-width:576px) {

    :root {
        /* font_size */
        --fs-6xl: 32px;
        --fs-5xl: 30px;
        --fs-4xl: 26px;
        --fs-3xl: 23px;
        --fs-2xl: 21px;
        --fs-xl: 20px;
        --fs-lg: 12px;
        --fs-md: 16px;
        --fs-sm: 15px;
        --fs-ss: 12px;
    }
}